@model MaxFactry.Module.Catalog.PresentationLayer.MaxProductFileViewModel
@{
    Layout = Html.MaxGetThemeView("_LayoutEmailSimple");    
}

<table><tr><td>Your requested file is attached.</td></tr></table>


