@model MaxFactry.Module.Catalog.PresentationLayer.MaxProductImportViewModel

<h1>Product Import</h1>

<ul>
    <li><a href="~/MaxCatalogManage/ProductImportStoreSupply">Store Supply Catalog</a></li>
    <li><a href="~/MaxCatalogManage/ProductImportWooCommerce">WooCommerce Catalog</a></li>

</ul>

